// bower:scss
// endbower
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

body {
    background: #fafafa;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #333;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 90%;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
    canvas#weather-info {
        width: auto;
        height: auto;
        padding: 5px;
        display: inline-block;
        margin: 0 auto;
        border: 1px solid #d9d9d9;
    }
}

.input-group .form-control {
    height: 38px;
}

.input-group-btn:last-child>.btn,
.input-group-btn:last-child>.btn-group {
    z-index: 2;
    margin-left: -1px;
    border: 1px solid lightgrey;
}

.jumbotron {
    background-color: darkseagreen;
}